* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

.navbar {
    background-color: #fff;
    border: none;
}

.no-focus {
    top: 50px;
    border: none !important;
}

.no-focus:focus,
.no-focus:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-close:focus,
.btn-close:active {
    outline: none !important;
    box-shadow: none !important;
}

#offcanvasNavbar {
    width: 350px;
    background: #e6dddd;
}

.icon {
    padding-left: 45px;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}

body {
  background-color:#f5f5f5;
}

.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}

.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

.panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel {
    margin-bottom: 20px !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
}

a {
  color:#fff;
  text-decoration:underline;
}

h1,
h2,
h3,
a {
    color: #e91e63;
}

.footer {
    background-color: #24262b;
    color: #fff;
    padding: 70px 0;
    margin-top: 80px;
}

.nav-item {
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav-item:hover {
    color: palevioletred;
}

.fcontainer {
    max-width: 1170px;
}

.frow {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 15px 15px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}

@media (min-width: 768px) {
    .navbar-toggler {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 40px;
    }
    .side {
        visibility: hidden;
    }
    .icon {
        width: 50%;
        padding-left: 0%;
    }
    .left-side,
    .right-side {
        width: 100%;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .icon {
        width: 100%;
    }
    #offcanvasNavbar {
        width: 280px;
    }
    .right-side {
        padding: 0;
        border-left: none;
    }
    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }
}
