body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.no-focus {
    top: 50px;
    border: none !important;
}

.no-focus:focus,
.no-focus:active {
    outline: none !important;
    box-shadow: none !important;
}


.btn-close:active {
    outline: none !important;
    box-shadow: none !important;
}

#offcanvasNavbar {
    width: 350px;
    background: #e6dddd;
}

.icon {
    padding-left: 45px;
}

.carousel {
    position: relative;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    position: absolute;
    opacity: 0;
    inset: 0;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    z-index: 3;
    font-size: 1rem;
    top: 50%;
    transform: translateY(300%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25em;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.next {
    right: 15%;
}
.carousel-button.prev {
    left: 15%;
}

.header {
    font-family: "Montserrat", sans-serif;

    margin-bottom: 100px;
}

.nav-item {
    color: black;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav-item:hover {
    color: palevioletred;
}

.scale img {
    max-width: 372.33;
    max-height: 372.33;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 80px;
}

.fcontainer {
    max-width: 1170px;
}

.frow {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}



.footer-col ul li a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 15px 15px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}

.pap{
    display: none;
}
@media (max-width: 991px) {
    .laptop{
        display: none;
    }
     .pap{
        display:block;
    }
}

@media (min-width: 768px) {
    .navbar-toggler {
        visibility: hidden;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 40px;
    }
    .menu {
        visibility: hidden;
    }
    .icon {
        width: 50%;
        padding-left: 0%;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .menu2 {
        position: absolute;
        top: 33%;
        left: 60%;
    }
    .menu2 img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 574px) {
    .icon {
        width: 100%;
    }
    #offcanvasNavbar {
        width: 280px;
    }
    .scale {
        width: 100%;

        flex-direction: column;
    }
    .footer-col {
        width: 100%;
    }
    #myDIV {
        width: 280px;
    }
}
.scale {
    position: relative;
    margin-bottom: 450px;
}
.text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.text-content h4 {
    margin: 0;
    font-size: 18px;
}

.scale h4 {
    text-align: center;
    margin-top: 350px;
}
.model-name {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.shopping-cart {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 400px;
    height: 100%;
    overflow-y: auto;
    display: none;
}

.shopping-cart h2 {
    font-size: 20px;
    margin: 0;
}

.shopping-cart ul {
    list-style-type: none;
    padding: 0;
}

.shopping-cart li {
    margin: 10px 0;
}

.shopping-cart button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.shopping-cart button:hover {
    background-color: #0056b3;
}

.price {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}
button {
    border: none;
    outline: none;
    background-color: white;
}

.filter-button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}
.add-to-cart-button {
    background-color: rgba(128, 128, 128, 0.5);
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: rgba(61, 28, 28, 0.7);
}

.cart-item-details {
    flex: 1;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item-image {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

#btn-close {
    float: right;
    background-color: gray;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

#cart-total {
    font-size: 18px;
}

#btn-close:hover {
    background-color: darkgray;
}

.cart-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    border-radius: 8px;
}

.remove-from-cart-button {
    background-color: #ccc;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
}

.remove-from-cart-button:hover {
    background-color: #555;
}